.react-datepicker {
  padding: 20px;
}

.react-datepicker__portal {
  max-width: 375px;
  background-color: #0000007a;
}

.react-datepicker__portal .react-datepicker__current-month {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #121212;
}

.react-datepicker__portal .react-datepicker__day-name {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 9.5px 8px 9.5px;
  width: 32px;
  height: 32px;
  color: #858585;
  margin: 0;
}

.react-datepicker__portal .react-datepicker__day {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 9.5px 8px 9.5px;
  width: 32px;
  height: 32px;
  margin: 0;
  text-align: center;
}

.react-datepicker__header {
  background-color: white;
  border: none;
}

.react-datepicker__day--today {
  font-weight: 600;
  color: #2d5bee;
}

.react-datepicker__day--selected {
  background-color: #2d5bee;
  color: white;
  font-weight: 400;
}

.react-datepicker__day--selected:hover {
  background-color: #2d5bee;
  color: white;
  font-weight: 400;
}

.react-datepicker__day--keyboard-selected {
  background-color: #2d5bee;
  color: white;
  font-weight: 400;
}

.react-datepicker__navigation {
  display: flex;
  position: static;
  justify-content: flex-end;
}

.weekend {
  color: #f36a6a;
}
